html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0; }

main, li {
  display: block; }

div {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border: none; }

td {
  padding: 0px; }

strong {
  font-weight: bold; }

a, button {
  color: inherit;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: hidden;
  border: none;
  font: inherit;
  -webkit-font-smoothing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  display: block; }

video {
  max-width: 100%;
  max-height: 100%; }

.lightbox, .lightbox .backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.lightbox {
  position: fixed;
  z-index: 999;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.lightbox .backdrop {
  position: absolute;
  z-index: 10;
  background: #000000;
  opacity: 0.7; }

.lightbox .lightbox-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 60%;
  z-index: 11;
  margin: auto;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000; }

.lightbox .body, .lightbox iframe {
  width: 100%;
  height: 100%; }

.lightbox iframe {
    border: 0;
    display: block; }
  .lightbox .close {
    position: absolute;
    right: -15px;
    top: -75px;
    width: 32px;
    height: 32px;
    padding: 1em;
    cursor: pointer; }
  .lightbox .close:before, .lightbox .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #fff; }
  .lightbox .close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .lightbox .close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .lightbox.show {
    display: block; }
  .lightbox.open {
    opacity: 1; }
  .lightbox .chevron-arrow-forward {
    display: inline-block;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: -50px; }
  .lightbox .chevron-arrow-backward {
    display: inline-block;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: -50px; }

/*Thumbnail Imgages */
.thumb-div {
  position: relative; }

.thumb-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

@media (min-width: 768px) and (max-width: 900px) {
  .three-column div, .three-column-smfullwidth-showone div {
    margin: 0 auto; } }

.three-column div h3, .three-column-smfullwidth-showone div h3 {
  margin: 1em 0 0; }

.three-column div p, .three-column-smfullwidth-showone div p {
  margin: 0 0 1em; }

@media (min-width: 900px) {
  .three-column, .three-column-smfullwidth-showone {
    font-size: 0; }
    .three-column div, .three-column-smfullwidth-showone div {
      display: inline-block;
      width: 33%;
      padding: 0 1em;
      font-size: 14px;
      vertical-align: top; } }

@media (min-width: 900px) {
  .three-column-smfullwidth-showone div {
    padding-bottom: 3em; } }

.three-column-smfullwidth-showone div:not(:first-child) {
  display: none; }
  @media (min-width: 900px) {
    .three-column-smfullwidth-showone div:not(:first-child) {
      display: inline-block; } }

.three-column-smfullwidth-showone div:first-child {
  background: #fff;
  background-image: url("../img/slideshow/stoneland-gallery-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 250px; }
  .three-column-smfullwidth-showone div:first-child img {
    display: none; }
  @media (min-width: 900px) {
    .three-column-smfullwidth-showone div:first-child {
      background: #fff;
      height: 100%; }
      .three-column-smfullwidth-showone div:first-child img {
        display: block; } }

body, input, textarea, button, select {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000000; }

/*******Homepage Styles******/
#header {
  background: #fff;
  background: #fff;
  background-image: url("../assets/stoneland-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 200px;
  width: 100%; }
  
@media (min-width: 900px) {
#header {
  height: 350px; } }
#header h1 {
  color: #fff;
  padding-top: 3em;
  text-transform: uppercase; }

@media (min-width: 900px) {
#header h1 {
  padding-top: 6em; } }
.content, .content-fullwidth {
  padding: 1em 3em; }
@media (min-width: 768px) and (max-width: 900px) {
.content, .content-fullwidth {
  padding: 0 5em; } }
@media (min-width: 900px) {
.content, .content-fullwidth {
  padding: 0 10em; } }
.content h2, .content-fullwidth h2 {
  margin: 0 0 1em; }
.content p, .content-fullwidth p {
  line-height: 20px; }

.content-fullwidth {
  padding: 0; }
@media (min-width: 768px) and (max-width: 900px) {
.content-fullwidth {
  padding: 0 5em; } }
@media (min-width: 900px) {
.content-fullwidth {
  padding: 0 10em; } }

#scotland {
  background: #fff;
  background-image: url("../assets/map.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
  background-position: 50% 15%; }

#content-spacer {
  height: 200px; }

@media (min-width: 900px) {

#content-spacer {
  height: 768px; } }

footer {
  padding: 2em 0; }

footer div {
  width: 150px;
  margin: 0 auto; }

footer div img {
  display: inline-block;
  padding: 0 1em; }

.black-btn {
  margin: -1.5em 0 0.5em;
  width: 100%; }
.black-btn button {
  background: #000000;
  color: #fff;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  padding: 14px 30px;
  letter-spacing: 1px;
  border-radius: 24px;
  text-transform: uppercase; }
.black-btn button img {
  display: inline-block;
  vertical-align: middle;
  width: 1em; }

.black-line, .black-line-no-margin-bottom {
  border-bottom: 1px solid #000;
  margin: 1.5em 0;
  width: 100%; }

.black-line-no-margin-bottom {
  margin: 0; }

.center {
  text-align: center; }

#test {
  display: none; }

/*# sourceMappingURL=styles.css.map */